
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/CustomerLayout.cshtml";
}

<h2>Dashboard</h2>

<!-- Content Row -->
<div class="row">

    <!-- Categories -->
    <div class="col-xl-3 col-md-6 mb-4">

        <a class="text-decoration-none" href="@Url.Action("Order", "Customer")">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Categories Available
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">@ViewData["typesNum"] Types</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-tags fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </a>

    </div>

    <!-- Products Available -->
    <div class="col-xl-3 col-md-6 mb-4">
        <a class="text-decoration-none" href="@Url.Action("Order", "Customer")">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                Products Available
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">@ViewData["dessertsNum"] Products</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-birthday-cake fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </a>

    </div>

    <!-- Orders -->
    <div class="col-xl-3 col-md-6 mb-4">
        <a class="text-decoration-none" href="@Url.Action("ShowOrderHistory", "Customer")">
            <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                Orders Made
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">@ViewData["ordersNum"] Orders</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </a>

    </div>
</div>
<!-- content Row -->


<h2>Quick Access</h2>
<div class="row my-3">

    <div class="col-xl-4 col-lg-5 mb-4">
        <a class="text-decoration-none" href="@Url.Action("Order", "Customer")">
            <div class="card shadow mb-4">

                <div class="card-body bg-gradient-info rounded">
                    <div class="align-items-center text-center text-white">
                        <h6 class="m-0 mb-4 font-weight-bold ">Order Treats</h6>
                        <i class="fas fa-birthday-cake fa-8x "></i>
                    </div>

                </div>
            </div>
        </a>

    </div>


    <div class="col-xl-4 col-lg-5 mb-4">
        <a class="text-decoration-none" href="@Url.Action("ShowOrderHistory", "Customer")">
            <div class="card shadow mb-4">

                <div class="card-body bg-gradient-warning rounded">
                    <div class="align-items-center text-center text-white">
                        <h6 class="m-0 mb-4 font-weight-bold ">Check Order History</h6>
                        <i class="fas fa-clipboard-list fa-8x "></i>
                    </div>

                </div>
            </div>
        </a>

    </div>


</div>